#calculator{
    .titulo{
        h1{
            font-weight: bold;
            font-size: 1em;
            margin-bottom: 0;
        }
        p{
            padding-left: 15px;
            margin: 0;
            padding-top: 0;
        }
    }
    .box{
        bottom: 225px;
        height: 280px;
        img{
            width: 35px;
            position: absolute;
            top: -1px;
        }
    }
    .radio{
        padding: 2px 0;
        padding-left: 20px;
    }
    .name_car{
        font-weight: bold;
        padding: 0;
        margin: 0;
    }
    .desc{
        margin: 0;
        font-size: 10px;
        padding: 0;
    }
    .data{
        padding-left: 45px;
        transform: translateY(-5px);
    }
    button{
        @include botonNaranja (104%, 0%);
    }
}

#pasajeros{
    input{
        display: inline;
        transform: translate(190px,-2px);
        width: 80px;
        border: 1px solid $naranja;
    }
    p{
        position: absolute;
        padding-left: 20px;
        font-weight: bold;
    }
}