@import "packs";

header{
    z-index: 900;
    .conten{
        padding-bottom: 15px;
    }
    background-color: #fff;
    img{
        width: 40%;
        padding: 0;
        margin: 0;
    }
    #ico-info{
        font-size: 2.5em;
        color: $naranja;
        margin-top: 16px;
        margin-right: 0px;
    }
    ul{
        margin-right: 100px !important;
    }
    p{
        padding: 5px 10px;
        &:nth-child(1){
            color: $naranja;
            font-size: 1.3em;
            font-weight: bold;
            text-align: center;
        }
    }
}

@media screen and (max-width:767px){
    .navbar-toggle{
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
    header{
        #ico-info{
            display: none;
        }
    }
}

@media screen and (max-width:767px){
    a.navbar-brand.logo{
        padding: 16px 0;
    }
    #navigation{
      display: none;
    }
}

@media screen and (max-width:577px){
    a.navbar-brand.logo{
        width: 70%;
        padding-top: 16px;
        img{
            width: 200px;
        }
    }
}