$naranja:#ffc56e;

@mixin botonNaranja {
        position: absolute;
        padding: 5px 127px;
        background-color: $naranja;
        border: none;
        font-weight: bold;
        color: #fff;
}