    @import "packs";
.box {
    z-index: 900;
    background-color: #fff;
    position: absolute;
    width: 290px;
    height: 190px;
    top: 75px;
    left: 5px;
    h1 {
        font-size: 1.2em;
        text-transform: uppercase;
        padding-left: 15px;
    }
    .form-control {
        width: 260px !important;
        border: 1px solid $naranja;
    }
}

#info {
    button {
        @include botonNaranja;
        top: 270px;
        left: 0px;
        z-index: 900;
    }
}

@media screen and (min-width:992px) {
    #destino {
        padding-top: 30px;
    }
    .box {
        left: 20px;
    }
    #info {
        button {
            left: 20px;
            padding: 5px 122px;
        }
    }
}